$header-color: #F16D7F;


* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
       
    .header_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
               
        .header_menu_item {
            display: inline-flex;
            justify-content: center;
            align-items: center;

        }
    }
}

.heading {
    background: #F1E4E6;
    
    .heading_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .heading_text {
            border-left: 12px solid $header-color;
            font-family: Lato;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #222222;

            .the_brand {
                font-weight: 900;

                .fashion {
                    color: $header-color;
                }
            }
        } 
    }
}

.offers {

    .offers_parent {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        margin-bottom: 30px;

        .offers_item {
            position: relative;

            .offers_text {
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
                position: absolute;
                top: 105px;
                bottom: 105px;
                left: 103px;
                right: 103px;
    
                .offers_image {
                    width: 100%;

                    
                }
            }
        }
    }
}

.card {

    .card_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card_content {
            background: #F8F8F8;
            width: 360px;
            
            .card_heading_text {
                text-align: center;

                .card_heading { 
                    font-size: 30px;
                    line-height: 36px;
                    color: #222222;
            
                    .card_paragraph_content {
                        font-size: 14px;
                        line-height: 17px;
                        color: #9F9F9F;
                        
                        
                    }
                }
            }
        }
    }
}

.footer {
    background: #222224;
    width: 100%;

    .footer_block {
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: #FBFBFB;

        .footer_item {
            font-size: 19.96px;
            line-height: 24px;

            .footer_paragraph_content {
                font-size: 13.972px;
                line-height: 17px;

            }
        }        
    }
}