$header-color: #F16D7F;


* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
       
    .header_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
               
        .header_menu_item {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:not(:first-child) {
                margin-left:16px
            }
        }
    }
}

.heading {
    background: #F1E4E6;
    
    .heading_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .heading_text {
            border-left: 12px solid $header-color;
            font-family: Lato;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #222222;
            padding-left: 16px;

            .the_brand {
                font-weight: 900;  
                font-size: 48px;
                line-height: 58px;     
            }

            .fashion {
                color: $header-color;
            }
        } 
    }
}

.offers {

    .offers_parent {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        margin-bottom: 30px;
    }

    .offers_item {
        position: relative;
        display: block;

        &:hover {
            .offers_text {
                background-color: transparent;
            }
        }

        .offers_text {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            background-color: rgba(32, 22, 22, 0.7);
            

            .offers_title {
                font-size: 16px;
                line-height: 20px;
            }

            .offers_subtitle {
                font-size: 24px;
                line-height: 30px;
                color: $header-color;
            }
        }
    }
}

.card_heading_text {
    margin-top: 96px;
    margin-bottom: 48px;

    .card_text {
        text-align: center;

        .card_heading {
            font-size: 30px;
            line-height: 36px;
        }

        .card_paragraph {
            margin-top: 6px;
            font-size: 14px;
            line-height: 17px;
            color: #9f9f9f;
        }
    }
}

.card {

    .card_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -30px;


        .card_content {
            display: block;
            background: #F8F8F8;
            width: 360px;
            text-decoration: none;
            color: inherit;
            margin-top: 30px;
            
            .card_info {
                padding: 25px 28px 20px 16px;

                .card_item {
                    color: #000000;
                    font-size: 13px;
                    line-height: 16px;
                }

                .card_paragraph_content {
                    margin-top: 12px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5D5D5D;
                }

                .card_value {
                    margin-top: 18px;
                    font-size: 16px;
                    line-height: 19px;
                    color: $header-color;
                }
            }
        }
    }
}

.footer {
    background: #222224;
    width: 100%;

    .footer_block {
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: #FBFBFB;
        height: 340px;

        .footer_item {
            font-size: 19.96px;
            line-height: 24px;

            .footer_paragraph_content {
                font-size: 13.972px;
                line-height: 17px;

                
            }
        }        
    }
}

.push {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 96px;    

    .all_products {
        padding: 16px 38px;
        font-size: 16px;
        line-height: 19px;
        border: 1px solid $header-color;
        color: $header-color;
        text-decoration: none;
    }
}

.footer_subscription {
    background-image: url(img/Layer.jpg);
    height: 448px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    .footer_subscription_content {
        width: 360px;
        
    }
    
}

.footer_rights {
    background-color:#222224;
    padding-top: 30px;
    padding-bottom: 30px;

    .footer_rights_text {
        color: #FBFBFB;

        .footer_connection_block {
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
    }
}