@import "reset";

$highlight-color: #F16D7F;
$highlight-color-hover: #E05C6E;

body {
    font-family: 'Lato', sans-serif;
}  

.container {
    width: 1140px;
    margin: 0 auto;
}

.header_content {
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
       
    .header_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
               
        .header_menu_item {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &:not(:first-child) {
                margin-left:16px;
            }

            .site_navigation {
                background: #FFFFFF;
                position: absolute;
                top: 49px;
                width: 232px;
                padding: 34px;
                box-sizing: border-box;    
                
                .navigation_header {
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: bold;
                }

                .site_navigation_list {
                    .site_navigation_list_group {
                        margin-top: 20px;
                        font-size: 14px;
                        line-height: 17px;

                        .group_link {                            
                            color: $highlight-color;
                                                    } 
                        .link_menu {
                            margin-top: 12px;
                            margin-left: 20px;                        
                            a {
                                color: #6F6E6E;
                            }
                        }
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
            
        }
    }
}

.heading {
    background: #F1E4E6;
    
    .heading_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .heading_text {
            border-left: 12px solid $highlight-color;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: #222222;
            padding-left: 16px;
            padding-right: 90px;

            .the_brand {
                font-weight: 900;  
                font-size: 48px;
                line-height: 58px;     
            }

            .fashion {
                color: $highlight-color;
            }
        } 
    }
}

.offers {

    .offers_parent {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        margin-bottom: 30px;
    }

    .offers_item {
        position: relative;
        display: block;

        &:hover {
            .offers_text {
                background-color: transparent;

                .offer_text_container {
                    background-color: rgba(32, 22, 22, 0.7);
                }
            }
        }
        .offers_text {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            background-color: rgba(32, 22, 22, 0.7);

            .offer_text_container {
                padding: 4px;

                .offers_title {
                    font-size: 16px;
                    line-height: 20px;
                }
    
                .offers_subtitle {
                    font-size: 24px;
                    line-height: 30px;
                    color: $highlight-color;
                }
            }
        }
    }
}

.card_heading_text {
    margin-top: 96px;
    margin-bottom: 48px;

    .card_text {
        text-align: center;

        .card_heading {
            font-size: 30px;
            line-height: 36px;
        }

        .card_paragraph {
            margin-top: 6px;
            font-size: 14px;
            line-height: 17px;
            color: #9f9f9f;
        }
    }
}

.card {

    .card_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -30px;

        .card_content {
            display: block;
            background: #F8F8F8;
            width: 360px;
            text-decoration: none;
            color: inherit;
            margin-top: 30px;

            &:hover {
                .image_container {
                    .add_to_cart_container {
                        display: flex;
                    }
                }
            }

            .image_container {
                position: relative;

                .add_to_cart_container {
                    display: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(58, 56, 56, 0.86);

                    .add_to_cart_button {
                        padding: 10px 12px;
                        display: inline-flex;
                        align-items: center;
                        font-size: 14px;
                        line-height: 16px;
                        color: white;
                        border: 1px solid white;

                        .button_text {
                            margin-left: 12px;                 
                        }
                    }
                }
            }
            
            .card_info {
                padding: 25px 28px 20px 16px;

                .card_item {
                    color: #000000;
                    font-size: 13px;
                    line-height: 16px;
                }

                .card_paragraph_content {
                    margin-top: 12px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #5D5D5D;
                }

                .card_value {
                    margin-top: 18px;
                    font-size: 16px;
                    line-height: 19px;
                    color: $highlight-color;
                }
            }
        }
    }
}

.push {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 96px;    

    .all_products {
        padding: 16px 38px;
        font-size: 16px;
        line-height: 19px;
        border: 1px solid $highlight-color;
        color: $highlight-color;
        text-decoration: none;

        &:hover {
            background-color: $highlight-color;
            color: white;
        }
    }
}

.footer {
    background: #222224;
    width: 100%;

    .footer_block {
        display: flex;
        justify-content: space-between;
        text-align: center;
        height: 340px;
        
       .footer_info_block {
           padding-left: 30px;
           padding-right: 30px;
        }

        .footer_item {
            font-size: 20px;
            line-height: 24px;
            font-weight: normal;
        }

        .footer_paragraph_content {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            padding-top: 16px;
            padding-bottom: 104px;
            width: 360px;
        }

        .footer_link {
            color: #FBFBFB;
            text-decoration: none;

            .footer_info_content {
                padding-top: 103px;
                padding-bottom: 28px;
            }
            .footer_picture {
                padding-top: 104px;
                padding-bottom: 19px;
            }
            .footer_illustration {
                padding-top: 103px;
                padding-bottom: 25px;
                
            }   
        }
    }
}

.footer_subscription {
    background-image: url(img/Layer.png);
    height: 448px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    text-align: center;

    .footer_contact_person {
        padding-top: 86px;
        padding-bottom: 30px;
    }
    
    .footer_subscription_content {
        width: 360px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        padding-bottom: 126px;
        
        .subscription {
            font-style: italic;
        }
    }

    .footer_entry_field {
        
        .footer_entry_subscribe {
            padding-top: 150px;
            padding-bottom: 32px;
            font-weight: 400;
            font-size: 18px;

            .subscribe {
                font-weight: bold;
                font-size: 24px;
                line-height: 167.2%;
                text-align: center;
            }
        }

        .subscribe_item {
            display: flex;
            justify-content: center;

            .form_item {
                display: flex;

                .form_input {
                    border:none;
                    outline: none;
                    padding: 7px 22px;
                    font-size: 14px;
                    line-height: 36px;
                    background: #E1E1E1;
                    color: rgba(34, 34, 36, 0.67);
                    border-radius: 36px 0 0 36px;
                }
    
                .form_submit {
                    border: none;
                    font-size: 14px;
                    line-height: 36px;
                    padding: 7px 22px;
                    background: $highlight-color;
                    color: white;
                    border-radius: 0 36px 36px 0;
                    cursor: pointer;

                    &:hover {
                        background: $highlight-color-hover;
                    }
                }
            }
        }
    }
}

.footer_right {
    background-color:#222224;
    padding-top: 24px;
    padding-bottom: 24px;

    .footer_right_content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer_connection_text {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB;
        }
        .footer_connection_block {
            display: flex;
            align-items: flex-start;

            .footer_connection {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                background-color: white;

                &:not(:first-child) {
                    margin-left:8px
                }
                &:hover {
                    background-color: $highlight-color;
                    svg {
                        path {
                            fill: white;
                        }
                    }
                }
            }
        }
    }
}