html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header_content {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_content .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content .header_menu .header_menu_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_content .header_menu .header_menu_item:not(:first-child) {
  margin-left: 16px;
}

.header_content .header_menu .header_menu_item .site_navigation {
  background: #FFFFFF;
  position: absolute;
  top: 49px;
  width: 232px;
  padding: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.header_content .header_menu .header_menu_item .site_navigation .navigation_header {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}

.header_content .header_menu .header_menu_item .site_navigation .site_navigation_list .site_navigation_list_group {
  margin-top: 20px;
  font-size: 14px;
  line-height: 17px;
}

.header_content .header_menu .header_menu_item .site_navigation .site_navigation_list .site_navigation_list_group .group_link {
  color: #F16D7F;
}

.header_content .header_menu .header_menu_item .site_navigation .site_navigation_list .site_navigation_list_group .link_menu {
  margin-top: 12px;
  margin-left: 20px;
}

.header_content .header_menu .header_menu_item .site_navigation .site_navigation_list .site_navigation_list_group .link_menu a {
  color: #6F6E6E;
}

.header_content .header_menu .header_menu_item .site_navigation .site_navigation_list .site_navigation_list_group a {
  text-decoration: none;
}

.heading {
  background: #F1E4E6;
}

.heading .heading_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading .heading_items .heading_text {
  border-left: 12px solid #F16D7F;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #222222;
  padding-left: 16px;
  padding-right: 90px;
}

.heading .heading_items .heading_text .the_brand {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.heading .heading_items .heading_text .fashion {
  color: #F16D7F;
}

.offers .offers_parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 30px;
}

.offers .offers_item {
  position: relative;
  display: block;
}

.offers .offers_item:hover .offers_text {
  background-color: transparent;
}

.offers .offers_item:hover .offers_text .offer_text_container {
  background-color: rgba(32, 22, 22, 0.7);
}

.offers .offers_item .offers_text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(32, 22, 22, 0.7);
}

.offers .offers_item .offers_text .offer_text_container {
  padding: 4px;
}

.offers .offers_item .offers_text .offer_text_container .offers_title {
  font-size: 16px;
  line-height: 20px;
}

.offers .offers_item .offers_text .offer_text_container .offers_subtitle {
  font-size: 24px;
  line-height: 30px;
  color: #F16D7F;
}

.card_heading_text {
  margin-top: 96px;
  margin-bottom: 48px;
}

.card_heading_text .card_text {
  text-align: center;
}

.card_heading_text .card_text .card_heading {
  font-size: 30px;
  line-height: 36px;
}

.card_heading_text .card_text .card_paragraph {
  margin-top: 6px;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.card .card_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -30px;
}

.card .card_block .card_content {
  display: block;
  background: #F8F8F8;
  width: 360px;
  text-decoration: none;
  color: inherit;
  margin-top: 30px;
}

.card .card_block .card_content:hover .image_container .add_to_cart_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card_block .card_content .image_container {
  position: relative;
}

.card .card_block .card_content .image_container .add_to_cart_container {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(58, 56, 56, 0.86);
}

.card .card_block .card_content .image_container .add_to_cart_container .add_to_cart_button {
  padding: 10px 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: white;
  border: 1px solid white;
}

.card .card_block .card_content .image_container .add_to_cart_container .add_to_cart_button .button_text {
  margin-left: 12px;
}

.card .card_block .card_content .card_info {
  padding: 25px 28px 20px 16px;
}

.card .card_block .card_content .card_info .card_item {
  color: #000000;
  font-size: 13px;
  line-height: 16px;
}

.card .card_block .card_content .card_info .card_paragraph_content {
  margin-top: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.card .card_block .card_content .card_info .card_value {
  margin-top: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
  margin-bottom: 96px;
}

.push .all_products {
  padding: 16px 38px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  text-decoration: none;
}

.push .all_products:hover {
  background-color: #F16D7F;
  color: white;
}

.footer {
  background: #222224;
  width: 100%;
}

.footer .footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 340px;
}

.footer .footer_block .footer_info_block {
  padding-left: 30px;
  padding-right: 30px;
}

.footer .footer_block .footer_item {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
}

.footer .footer_block .footer_paragraph_content {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-top: 16px;
  padding-bottom: 104px;
  width: 360px;
}

.footer .footer_block .footer_link {
  color: #FBFBFB;
  text-decoration: none;
}

.footer .footer_block .footer_link .footer_info_content {
  padding-top: 103px;
  padding-bottom: 28px;
}

.footer .footer_block .footer_link .footer_picture {
  padding-top: 104px;
  padding-bottom: 19px;
}

.footer .footer_block .footer_link .footer_illustration {
  padding-top: 103px;
  padding-bottom: 25px;
}

.footer_subscription {
  background-image: url(img/Layer.png);
  height: 448px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.footer_subscription .footer_contact_person {
  padding-top: 86px;
  padding-bottom: 30px;
}

.footer_subscription .footer_subscription_content {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-bottom: 126px;
}

.footer_subscription .footer_subscription_content .subscription {
  font-style: italic;
}

.footer_subscription .footer_entry_field .footer_entry_subscribe {
  padding-top: 150px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
}

.footer_subscription .footer_entry_field .footer_entry_subscribe .subscribe {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
}

.footer_subscription .footer_entry_field .subscribe_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_subscription .footer_entry_field .subscribe_item .form_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_subscription .footer_entry_field .subscribe_item .form_item .form_input {
  border: none;
  outline: none;
  padding: 7px 22px;
  font-size: 14px;
  line-height: 36px;
  background: #E1E1E1;
  color: rgba(34, 34, 36, 0.67);
  border-radius: 36px 0 0 36px;
}

.footer_subscription .footer_entry_field .subscribe_item .form_item .form_submit {
  border: none;
  font-size: 14px;
  line-height: 36px;
  padding: 7px 22px;
  background: #F16D7F;
  color: white;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

.footer_subscription .footer_entry_field .subscribe_item .form_item .form_submit:hover {
  background: #E05C6E;
}

.footer_right {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer_right .footer_right_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_right .footer_right_content .footer_connection_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_right .footer_right_content .footer_connection_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_right .footer_right_content .footer_connection_block .footer_connection {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: white;
}

.footer_right .footer_right_content .footer_connection_block .footer_connection:not(:first-child) {
  margin-left: 8px;
}

.footer_right .footer_right_content .footer_connection_block .footer_connection:hover {
  background-color: #F16D7F;
}

.footer_right .footer_right_content .footer_connection_block .footer_connection:hover svg path {
  fill: white;
}

.main .main_banner_content {
  background: #F8F3F4;
}

.main .main_banner_content .main_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main_banner_content .main_banner .main_header {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding: 60px 0;
}

.main .main_banner_content .main_banner .main_header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.main .main_banner_content .main_banner .main_header_menu .main_text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.main .main_banner_content .main_banner .main_header_menu .slash {
  padding-left: 6px;
  padding-right: 6px;
}

.main .main_banner_content .main_banner .main_header_menu .new_arrivals {
  color: #F16D7F;
  font-weight: 700;
}

.main .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 65px;
}

.main .main_menu .main_menu_text .main_button {
  border: none;
  background: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 70px;
  height: 17px;
}

.main .main_menu .main_menu_content .main_button_menu {
  border: none;
  background: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.main .main_menu .main_menu_content .main_heading {
  padding-left: 48px;
  padding-right: 48px;
}

.main .pagination .pagination_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
  margin-bottom: 96px;
}

.main .pagination .pagination_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  width: 283px;
  height: 43px;
  text-decoration: none;
}

.main .pagination .pagination_menu .pagination_item {
  padding-top: 12px;
}

.main .main_product {
  background: #F7F7F7;
  border: 1px solid #EAEAEA;
}

.main .main_product .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main_product .main_content .main_arrow_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
}

.main .main_product .main_content .main_arrow_content .main_arrow {
  width: 13px;
  height: 22px;
  padding: 13px 17px;
}

.main .main_product .main_content .main_content_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main_product .main_content .main_content_item .menu_item_product {
  padding-bottom: 42px;
}

.main .main_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  position: relative;
  top: -60px;
  margin-bottom: 70px;
}

.main .main_cart .main_heading_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 65px;
}

.main .main_cart .main_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #F16D7F;
  width: 63px;
  padding-bottom: 12px;
}

.main .main_cart .main_cart_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding-top: 12px;
}

.main .main_cart .main_paragraph {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  padding-top: 49px;
  padding-right: 293px;
  padding-left: 293px;
}

.main .main_cart .main_sum {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 32px;
}

.main .main_cart .main_line_grey {
  border-bottom: 1px solid #EAEAEA;
  width: 640px;
  padding-bottom: 65px;
}

.main .main_cart .main_menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 65px;
  padding-bottom: 49px;
}

.main .main_cart .main_menu_item .main_button_link {
  border: none;
  background: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.main .main_cart .main_menu_item .main_heading_link {
  padding-left: 42px;
  padding-right: 42px;
}

.main .main_cart .push_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 65px;
}

.main .main_cart .push_button .add_to_cart_button_text {
  padding-right: 57px;
}

.main .main_cart .push_button .add_to_cart {
  padding: 16px 0;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
}

.main .main_cart .push_button .add_to_cart svg {
  margin-right: 24px;
}

.main .main_cart .push_button .add_to_cart:hover {
  background-color: #F16D7F;
  color: white;
}

.main .main_cart .push_button .add_to_cart:hover svg path {
  fill: white;
}

.product {
  margin-top: 128px;
}
/*# sourceMappingURL=style.css.map */